 body{background-color: rgb(235, 103, 154);

}

header{
    background-color:rgb(240, 156, 184);
    height: 80px;
    padding-left: 30px;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -20px
    text-aling:center; 
    display: flex;
}

header h3{
    font-size: 30px;
    color: blueviolet;
}
header ul{
    list-style: none;
}


























































































































































































}